@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --primary-color-one: #008236;
  --primary-color-two: #a6e9c2;
  --primary-color-three: #00a63e;
  --font-roboto: "Roboto", sans-serif;
  --font-poppins: "Poppins", sans-serif;
}
@theme inline {
  --color-primary-color-one: var(--primary-color-one);
  --color-primary-color-two: var(--primary-color-two);
  --color-primary-color-three: var(--primary-color-three);
  --font-roboto: var(--font-roboto);
  --font-poppins: var(--font-poppins);
}

body {
  font-family: var(--font-roboto);
}

button {
  cursor: pointer;
}

@utility container {
  max-width: 1320px;
  margin: auto;
}

@layer components {
  .active {
    @apply p-3 bg-primary-color-one text-white rounded-md;
  }

  .btn-donate {
    @apply flex items-center justify-center bg-primary-color-one text-white px-4 py-3 rounded-xl gap-2;
  }

  .title {
    @apply font-medium text-[32px]  text-primary-color-one;
  }
  .prayerCardList {
    @apply border-b border-primary-color-two flex items-center justify-between text-gray-600 text-lg pb-2;
  }
  .btn {
    @apply flex items-center gap-3 bg-white text-primary-color-one justify-center rounded-md py-3.5;
  }
}

@layer utilities {
  .text-gradient {
    @apply bg-linear-to-r from-[#075207] to-[#34C759] bg-clip-text text-transparent;
  }
}
